body{
    background-color: ghostwhite;
}
.innerdiv{
    height: 600px;
    width: 90%;
    margin: 30px auto;
    font-family: sans-serif;
}
.header{
    text-align: center;
}
.bodydiv{
    background-color: lightgrey;
    border: 1px solid grey;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 1s;
    display: flex;
    flex-wrap: wrap;
}
.bodydiv_instructions{
    background-color: lightgrey;
    border: 1px solid grey;
    width: 90%;
    margin: 20px auto;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.innerflex{
    background-color: white;
    flex: 3;
    text-align: center;
    height: 80%;
    margin: 20px;
    border: 1px solid black;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 1s;
}
.innerflex_instructions{
    background-color: white;
    flex: 3;
    text-align: center;
    width: 90%;
    margin: 2% auto;
    border: 1px solid black;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 1s;
    display: flex;
    flex-direction: row;
}
.instructions_flex_text{
    flex: 1;
    text-align: left;
    font-family: sans-serif;
    margin: auto;
}
.instructions_flex_img{
    flex: 1;
}
.instructions_image{
    height: 200px;
}
.subheader{
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
}
.indexflex_image{
    height: 230px;
    margin: auto;
}
.iphoneflex_image{
    height: 150px;
    margin: 50px auto;
}
.tilbage_div{
    text-align: center;
    margin: auto;
}
.tilbage_knap{
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    background-color:#f44336;
    border-radius: 10px;
}
.leftmarg{
    margin-left: 10px;
}
.touchid_flex_img{
    flex: 1;
    margin-left: 10px;
    margin-bottom: 10px;
}
.nemid_flex_img{
    width: 90%
}
.nemid_image{
    height: 400px;
    margin-top: 40px;
}
.nemid_final{
    height: 300px;
    margin-top: 40px;
}